<h1>Search for a flight</h1>
<%= form_with(model: @flight, url: request.fullpath, method: :get) do |f| %>
  <%= render partial: 'search_flight', locals: {f: f, available_dates: @available_dates}%>
<% end %>


<h2>Available Flights</h2>

<%= form_with(url: new_booking_path, method: :get) do |f|%>
  <%= render partial: 'available_flights', locals: {f: f, flights: @flights, num_passengers: @num_passengers}%>
<% end %>