<h1>Booking Confirmation</h1>

<h2>Flight information</h2>
<%= render partial: 'flight_infos', locals: {flight: Flight.find(@booking.flight_id)}%>

<h2>Passenger Information</h2>

<% @booking.passengers.each do |passenger|%>
    <h3><%= passenger.name %></h3>
    <p>Email: <%= passenger.email %></p>
<% end %>